h3 {
margin-left : 20px;
}// Specific CSS for your home-page


hr {
  width: 300px;
  background-image: linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
  box-shadow: 0 10px 10px -10px #8c8c8c inset;

}
