<h1>Dashboard</h1>
import swal from 'sweetalert';

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>
    swal("Good job!", "You clicked the button!", "success");
    <tr>
      <% current_user.bookings.each do |booking| %>
      <td> <%= booking.venue.name %> </td>
      <td> <%= booking.venue.price %> </td>
      <td> <%= booking.venue.address %> </td>
    </tr>
    <% end %>
    <tr>
  </tbody>
</table>


