
<div id="landing-header">
    <h1>PARTY PLACES</h1>
        <p>Find the perfect place to make your night unforgettable</p>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>









