<div class="search-container">
  <%= form_tag search_path, method: :get do %>
  <form action="pages/search">
    <div class="col-xm-12 col-sm-6 col-sm-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Where will you host your party?" name="city">
        <span class="input-group-btn">
          <input class="btn btn-primary" type="submit" value="Go!">
        </span>
      </div>
    </div>
  <% end %>
</div>
