
<h5>Explore the perfect venues to guarantee your party is an unforgettable event</h5>

<%= render 'shared/searchbar' %>
<div class="container">
<%= render @venues %>
</div>

<div
  id="map"
  style="width: 33%;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;"
  data-markers="<%= @markers.to_json %>"


></div>

