  <div class="card-details">
    <div class="card-row">
      <span class="card-price"> €<%= venue.price %> |</span>
      <span class="card-name"><%= venue.name %></span>
    </div>
    <div class="card-row">
      <span class="card-location"><%= venue.location %></span>
    </div>
  </div>
