

  <div class="container">
    <h1>My Venues</h1>
    <% @venues.each do |venue| %>
      <%= render  @venues %>

      <% if policy(venue).edit? %>
        <%= link_to "edit", edit_venue_path(venue), class: "btn btn-primary btn-sm" %>
      <% end %>
      <% if policy(venue).destroy? %>
        <%= link_to "delete", venues_path, method: :delete, data: { confirm: "Are you Sure?" }, class: "btn btn-primary btn-sm" %>
      <% end %>
    <% end %>
  </div>







