.search-container {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 14px;
  padding-top: 20px;
}

.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  form {
    width: 500px;
  }
}
